* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
   
}

/* styling hero section starts*/
.hero {
    background-color: #1f2937;
    height: 500px;
    width: 100%;
}

.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 18px;
}

.first {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 80px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}


.first-left {
    max-width: 400px;
    margin-right: 50px;
}

.first-right {
    width: 440px;
    height: 200px;
    background-color: #6c747d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.sign-up {
    width: 120px;
    height: 40px;
    background-color: #3882f6;
    color: #fff;
    border: none;
    border-radius: 10px;
}

/* styling hero section end */ 


/* styling information section starts */

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.title {
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 40px;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info {
   width: 200px;
}

.box {
    border: 3px solid #3882f6;
    height: 140px;
    width: 150px;
    border-radius: 10px;
}

.info p {
    width: 150px;
    text-align: center;
    color: #;
}

/* styling information section ends */ 

/* styling quotes section starts */ 

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100vw;
    background-color: #e4e7eb;
}

.upper-quotes {
    max-width: 750px;
    font-size: 36px;
    color: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.lower-quotes {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    font-size: 30px;
}

/* styling quotes section ends */ 

/* styling action section starts */ 

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.form {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 30px;
    width: 800px;
    height: 120px;
    border-radius: 10px;
}

.form h2 {
    color: #fff;
}

.form p {
    color: #e5e7eb;
}

.right-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button {
    width: 110px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 33px;
    border-radius: 5px;
    font-size: 18px;
}